.grid {
  display: grid;
  &__2-col {
    @mixin atMedium {
      grid-template-columns: 1fr 2fr;
    }

    &--beginning {
      @mixin atMedium {
        grid-template-columns: 37fr 63fr;
      }
    }

    &--equal {
      grid-template-columns: 1fr;
      @mixin atSmall {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &--gutter {
    gap: 65px;

    &-large {
      column-gap: 100px;
    }
  }

  &__3-col {
    row-gap: 100px;

    @mixin atMedium {
      grid-template-columns: repeat(2, 1fr);
    }
    @mixin atLarge {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
