.testimonial {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 1.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--last {
    @mixin atMedium {
      grid-column: 1/ -1;
      max-width: 460px;
      align-self: center;
      justify-self: center;
    }

    @mixin atLarge {
      grid-column: 3;
      align-self: stretch;
    }
  }

  &__img {
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.8);
    height: 160px;
    width: 160px;
    transform: translateY(-50%);
    margin-bottom: -80px;
  }

  &__title {
    color: $mainBlue;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  &__sub-title {
    color: $mainOrange;
    font-weight: 400;
    font-size: 0.9375rem;
    margin: 0.25rem 0 1rem 0;
  }
}
